*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;

}

html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    overflow-y: overlay;

}
#main__container{
    height: 100vh;
    width: 100vw;
    background-color: black;
   /*border-bottom: 1px solid rgba(255, 255, 255, 0.58);*/
}

#main__nav{
    font-family: 'Orbit', sans-serif;
    height: 6.5vh;
    /*background-color: red;*/
    display: flex;
    align-items: center;
    /*margin: 0 1rem;*/
    padding-left: 3rem;
    box-shadow: -2px -2px 2px 2px white;
}

#main__hero{
    display: flex;
    height: 93.5vh;
    /*background-color: blue;*/
}

#main__hero-left{
    width: 50vw;
    /*background-color: green;*/
    margin-top: 20vh;
    padding-left: 3rem;
    font-family: 'Prompt', sans-serif;

}

.hero_header{
    font-weight: 800;
    font-size: 3rem;

}
.hero_text{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.hero_text p{
    color: rgba(240, 240, 240, 0.69);
}
#try_now_btn{
    height: 2rem;
    width: 5rem;
    color: black;
    background-color: rgba(30,253,169,0.83);
    font-weight: 600;
    outline: none;
    border: none;
}
#try_now_btn:hover,#webcamButton:hover{
    scale: 1.08;
}

#webcamt {
    transform: scaleX(-1);
    width: 640px;
    height: 480px;
}

/*----------------------------main workspace-------------------------------------------*/

#main_workspace{
    height: 100vh;
    width: 100vw;
    background-color: black;
    font-family: 'Prompt', sans-serif;
    padding-left: 3rem;
    display: flex;
    flex-direction: column;
}



#main_workspace_text{
    margin-top:10vh;
}
#main_workspace_text h2{
    margin-bottom: 1rem;
    color: rgba(30, 253, 169, 0.8);
}

#webcamButton{
    height: 2rem;
    width: 10rem;
    color: black;
    background-color: rgba(30,253,169,0.83);
    font-weight: 600;
    outline: none;
    border: none;
    margin-top:1rem ;
    margin-bottom: 1rem;
}

video,canvas{
    height: 50vh;
}

/*------------------------------live_view--------------------------------*/
#liveView{
    display: flex;
}

#live_view_left{
    width: 50vw;
}

#live_view_right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
}

#password_container{
    /*display: flex;*/
    height: 4rem;
    width: 12rem;
    color: green;
    font-size: 3rem;
    /*background-color: azure;*/
    letter-spacing: 5px;
    font-weight: 800;
    font-family: 'Orbitron', sans-serif;
    border: 2px solid rgba(220, 234, 230, 0.83);
}

#reset_button{
    height: 2rem;
    width: 5rem;
    color: black;
    background-color: rgba(30,253,169,0.83);
    font-weight: 600;
    outline: none;
    border: none;
    margin-top:1rem ;
    margin-bottom: 1rem;
}

#reset_button:hover{
    scale: 1.05;
}
/*-----------------result----------------*/

#result_message{
    position: absolute;
    bottom: 50px;
    font-size: 2rem;
    left: 40vw;
    font-weight: 700;

}